@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poopins",sans-serif;
    font-size: xx-large;
}


section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background:url(pexels-asad-photo-maldives-457881.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}